.transitionIn {
  transition-duration: .05s;
  transition-timing-function: ease-in;
}
.transitionOut {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.internet {
  padding: 0 0 100px 0;
  display: -ms-flexbox;
  display: flex;
}
.title__select {
  z-index: 1;
  margin: 20px 0;
  max-width: 217px;
}
.title__select .select__input {
  width: 100%;
  background: transparent;
}
.title__button {
  padding: 0 25px;
}
.speedCost {
  padding-top: 125px;
  display: -ms-flexbox;
  display: flex;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}
.speedCost__divider {
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 5%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0.2) 100%);
  transform: rotate(105deg) translate(75px, -17px);
  opacity: .07;
}
.speed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #fac704;
}
.speed__title {
  font-size: 84px;
  text-shadow: 0 0 5px rgba(250, 199, 4, 0.5), 0 0 30px rgba(250, 199, 4, 0.1);
}
.speed__metrics {
  font-size: 20px;
  line-height: 21px;
  margin-left: 15px;
}
.cost {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transform: translate(0, 50px);
}
.cost__title {
  font-size: 84px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.1);
}
.cost__metrics {
  font-size: 20px;
  line-height: 21px;
  margin-left: 15px;
}
