.transitionIn {
  transition-duration: .05s;
  transition-timing-function: ease-in;
}
.transitionOut {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.plugin {
  padding: 0 0 100px 0;
}
.plugin .title {
  text-align: center;
}
.form {
  width: 660px;
  padding: 40px 0;
  margin: 50px auto 0;
  border-radius: 30px;
}
.form__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 40px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.3);
  width: 475px;
  position: relative;
}
.form__menu-hl {
  position: absolute;
  background: #fac704;
  border-radius: 100px;
  height: 100%;
  z-index: 1;
  left: 0;
  transition-property: transform, width;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.form__menu-hl--new {
  width: 235px;
  transition-duration: .05s;
  transition-timing-function: ease-in;
}
.form__menu-hl--old {
  width: 250px;
  transform: translate(225px, 0);
  transition-duration: .05s;
  transition-timing-function: ease-in;
}
.form__menu-item {
  font-family: 'Pt Sans Caption', 'PT sans', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  cursor: pointer;
  width: 50%;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0;
  position: relative;
  z-index: 2;
}
.form__menu-item:hover {
  color: white;
  transition-duration: .05s;
  transition-timing-function: ease-in;
}
.form__menu-item--active {
  color: black;
}
.form__menu-item--active:hover {
  color: black;
}
.form__help {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.07);
  font-weight: bold;
}
.fields {
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0 auto;
  position: relative;
}
.fields .button {
  position: absolute;
  bottom: 0px;
  right: 37px;
  width: 260px;
}
.fields--active {
  opacity: 1;
  height: initial;
  width: initial;
}
.phone-sms {
  margin-top: 40px;
}
.faq .title {
  margin-bottom: 50px;
}
